<style>
        * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }


    header {
    width: 100%;
    height: 15vh;
    background:#645e4e26;
    margin-bottom: 50px;

    }
    header h1 {
        font-size:2.5rem;
        color:whitesmoke;
    }

    nav {
    margin-left: 10%;
    }

    nav ul {
    display: flex;
    padding: 40px;
    justify-content: space-between;
    }

    nav ul li {
    list-style: none;
    }

    nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-align:center;
    }
    #post {
        overflow: overlay;
        height: 13em;
    }
    #login{
        width:502px;
        margin-left: 35%;
    }