<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>

</head>
<body style="background-image: url('https://i.stack.imgur.com/jGlzr.png'); background-repeat: no-repeat;
background-size: cover">
<header th:insert="header.html :: header"></header>

<h1 style="text-align:center; color:white; font-size:xx-large">Your follower's posts</h1>


<!--<div style="text-align:center; margin-left:auto; margin-right:auto;width:500px; margin-bottom:20px">-->

<!--    <th:block  th:each="user: ${peopleIfollowList}">-->
<!--        <p th:text="${user.username}" ></p>-->
<!--        <th:block th:each="post: ${user.posts}">-->
<!--            <p style="color:black; font-size:x-large" >Time:</p>-->
<!--            <p id="timestamp" th:text="${post.timeStamp}" style="color:white; font-size:x-large"></p>-->
<!--            <p style="color:black; font-size:x-large">Body:</p>-->
<!--            <p th:text="${post.body}" style="color:white; font-size:large"></p>-->
<!--        </th:block>-->
<!--    </th:block>-->
<!--</div>-->

<div class="row">
    <div th:each="user:${peopleIfollowList}" class="card" style="width: 18rem;margin: 10px;">
        <h5 class=" card-title" ><a th:href="${'/users/' + user.id}">[[${user.username}]]</a></h5>
        <div class="card-body" >
            <th:block th:each="post: ${user.posts}">
            <p th:text="${post.timeStamp}" class="card-text"></p>
                <p th:text="${post.body}" class="card-text"></p>
                <p th:text="------------------------" ></p>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>